<?xml version="1.0" encoding="UTF-8"?>
<!-- 热加载 -->
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>logback</contextName>
    <!--0. 日志格式和颜色渲染 -->
                <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!--1. 输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--此日志appender是为开发使用，只配置最底级别，控制台输出的日志级别是大于或等于此级别的日志信息-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <!-- 设置字符集 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <!--<root level="info">-->
        <!--<appender-ref ref="CONSOLE" />-->
    <!--</root>-->

    <!-- 4. 最终的策略 -->
    <!-- 4.1 开发环境:打印控制台-->
    <springProfile name="dev">
        <include resource="logback-spring-dev.xml"/>
    </springProfile>
    <!-- 4.2 测试环境:文件-->
    <springProfile name="test">
        <include resource="logback-spring-test.xml"/>
    </springProfile>
    <!-- 4.2 pre环境:文件-->
    <springProfile name="pre">
        <include resource="logback-spring-pre.xml"/>
    </springProfile>
    <!-- 4.2 生产环境:文件-->
    <springProfile name="prod">
        <include resource="logback-spring-prod.xml"/>
    </springProfile>



</configuration>